In [1]:
import pandas as pd
df = pd.read_csv('merged_1_depth_CPI_PPI.csv')

In [2]:
df

,year,month,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,DIC2,TA1,TA2,pH2,pH1,year_month,Series ID_x,CPI,Series ID_y,PPI
0,1950.0,10.0,1937.0,59484.0,1.0,19.54,33.17,4.955,23.4865,94.1,...,NaN,NaN,NaN,NaN,NaN,1950/10,CUUR0000SEFG,20.600,NaN,NaN
1,1951.0,1.0,2340.0,70007.0,1.0,14.22,NaN,5.300,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1951/01,CUUR0000SEFG,21.700,NaN,NaN
2,1951.0,6.0,2960.0,88977.0,1.0,NaN,NaN,5.860,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1951/06,CUUR0000SEFG,22.400,NaN,NaN
3,1952.0,10.0,4971.0,134630.0,1.0,19.33,33.49,NaN,23.7850,NaN,...,NaN,NaN,NaN,NaN,NaN,1952/10,CUUR0000SEFG,21.200,NaN,NaN
4,1954.0,2.0,6645.5,171796.0,1.0,15.10,33.50,NaN,24.5490,NaN,...,NaN,NaN,NaN,NaN,NaN,1954/02,CUUR0000SEFG,20.800,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/10,CUUR0000SEFG,358.913,PCU3117103117105,268.106
1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/11,CUUR0000SEFG,359.506,PCU3117103117105,268.106
1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/12,CUUR0000SEFG,356.452,PCU3117103117105,268.106
1056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/01,CUUR0000SEFG,357.719,NaN,NaN
1057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/02,CUUR0000SEFG,360.246,NaN,NaN

In [3]:
df['year_month'] = pd.to_datetime(df['year_month'], format='%Y/%m')
df['Year'] = df['year_month'].dt.year
mean_df = df.groupby('Year').mean()
merged_df = pd.merge(df['Year'].drop_duplicates(), mean_df, on='Year')
print(merged_df)

    Year    year  month      Cst_Cnt        Btl_Cnt  Depthm     T_degC  \
0   1950  1950.0  10.00  1937.000000   59484.000000     1.0  19.540000
1   1951  1951.0   3.50  2650.000000   79492.000000     1.0  14.220000
2   1952  1952.0  10.00  4971.000000  134630.000000     1.0  19.330000
3   1954  1954.0   6.00  6898.750000  178522.500000     1.0  18.525000
4   1955  1955.0   5.75  7542.981915  195959.580142     1.0  17.746608
..   ...     ...    ...          ...            ...     ...        ...
84  2019     NaN    NaN          NaN            NaN     NaN        NaN
85  2020     NaN    NaN          NaN            NaN     NaN        NaN
86  2021     NaN    NaN          NaN            NaN     NaN        NaN
87  2022     NaN    NaN          NaN            NaN     NaN        NaN
88  2023     NaN    NaN          NaN            NaN     NaN        NaN

       Salnty    O2ml_L     STheta  ...  R_PRES  R_SAMP  DIC1  DIC2  TA1  TA2  \
0   33.170000  4.955000  23.486500  ...     1.0     NaN   NaN   NaN  NaN  NaN
1         NaN  5.580000        NaN  ...     1.0     NaN   NaN   NaN  NaN  NaN
2   33.490000       NaN  23.785000  ...     1.0     NaN   NaN   NaN  NaN  NaN
3   33.535000  5.277500  24.122750  ...     1.0     NaN   NaN   NaN  NaN  NaN
4   33.760167  5.393407  24.316847  ...     1.0     NaN   NaN   NaN  NaN  NaN
..        ...       ...        ...  ...     ...     ...   ...   ...  ...  ...
84        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
85        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
86        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
87        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
88        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN

    pH2  pH1         CPI         PPI
0   NaN  NaN   19.366667         NaN
1   NaN  NaN   22.125000         NaN
2   NaN  NaN   21.541667         NaN
3   NaN  NaN   20.841667         NaN
4   NaN  NaN   20.400000         NaN
..  ...  ...         ...         ...
84  NaN  NaN  298.493333  243.808333
85  NaN  NaN  308.232250  253.233333
86  NaN  NaN  324.857333  265.646833
87  NaN  NaN  354.575667  265.720417
88  NaN  NaN  358.982500         NaN

[89 rows x 75 columns]

In [4]:
merged_df.to_csv('merged_depth1_data_by_year_raw.csv', index=False)