In [1]:
import pandas as pd
df = pd.read_csv('merged_0_depth_CPI_PPI.csv')

In [2]:
df

,year,month,Cst_Cnt,Btl_Cnt,Depthm,T_degC,Salnty,O2ml_L,STheta,O2Sat,...,DIC2,TA1,TA2,pH2,pH1,year_month,Series ID_x,CPI,Series ID_y,PPI
0,1949.0,3.0,35.5,1058.842857,0.0,13.853571,33.395286,NaN,24.961214,NaN,...,NaN,NaN,NaN,NaN,NaN,1949/03,CUUR0000SEFG,20.500,NaN,NaN
1,1949.0,4.0,118.5,3598.104167,0.0,13.344896,33.356813,5.748958,25.021121,96.575824,...,NaN,NaN,NaN,NaN,NaN,1949/04,CUUR0000SEFG,20.200,NaN,NaN
2,1949.0,5.0,221.5,6682.745455,0.0,14.035909,33.248636,5.618182,24.796982,95.597273,...,NaN,NaN,NaN,NaN,NaN,1949/05,CUUR0000SEFG,19.800,NaN,NaN
3,1949.0,6.0,316.5,9535.987500,0.0,16.313875,33.447468,5.052949,24.454734,90.488462,...,NaN,NaN,NaN,NaN,NaN,1949/06,CUUR0000SEFG,19.600,NaN,NaN
4,1949.0,7.0,409.0,12328.009524,0.0,16.632308,33.201748,5.377033,24.207971,96.830337,...,NaN,NaN,NaN,NaN,NaN,1949/07,CUUR0000SEFG,19.300,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/10,CUUR0000SEFG,358.913,PCU3117103117105,268.106
1054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/11,CUUR0000SEFG,359.506,PCU3117103117105,268.106
1055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2022/12,CUUR0000SEFG,356.452,PCU3117103117105,268.106
1056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/01,CUUR0000SEFG,357.719,NaN,NaN
1057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2023/02,CUUR0000SEFG,360.246,NaN,NaN

In [3]:
df['year_month'] = pd.to_datetime(df['year_month'], format='%Y/%m')
df['Year'] = df['year_month'].dt.year
mean_df = df.groupby('Year').mean()
merged_df = pd.merge(df['Year'].drop_duplicates(), mean_df, on='Year')
print(merged_df)

    Year    year  month      Cst_Cnt        Btl_Cnt  Depthm     T_degC  \
0   1949  1949.0    7.0   428.555556   13059.412066     0.0  16.161018
1   1950  1950.0    6.0  1490.570384   45859.783783     0.0  15.652545
2   1951  1951.0    6.5  2979.024774   88589.729716     0.0  16.635458
3   1952  1952.0    6.0  4452.955595  123900.435130     0.0  16.365326
4   1953  1953.0    6.5  5947.666667  155926.373355     0.0  16.028815
..   ...     ...    ...          ...            ...     ...        ...
84  2019     NaN    NaN          NaN            NaN     NaN        NaN
85  2020     NaN    NaN          NaN            NaN     NaN        NaN
86  2021     NaN    NaN          NaN            NaN     NaN        NaN
87  2022     NaN    NaN          NaN            NaN     NaN        NaN
88  2023     NaN    NaN          NaN            NaN     NaN        NaN

       Salnty    O2ml_L     STheta  ...  R_PRES  R_SAMP  DIC1  DIC2  TA1  TA2  \
0   33.295537  5.447931  24.356729  ...     0.0     NaN   NaN   NaN  NaN  NaN
1   33.333370  5.365528  24.504004  ...     0.0     NaN   NaN   NaN  NaN  NaN
2   33.515141  5.232541  24.327483  ...     0.0     NaN   NaN   NaN  NaN  NaN
3   33.463115  5.699843  24.459324  ...     0.0     NaN   NaN   NaN  NaN  NaN
4   33.525908  5.829736  24.574504  ...     0.0     NaN   NaN   NaN  NaN  NaN
..        ...       ...        ...  ...     ...     ...   ...   ...  ...  ...
84        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
85        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
86        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
87        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN
88        NaN       NaN        NaN  ...     NaN     NaN   NaN   NaN  NaN  NaN

    pH2  pH1         CPI         PPI
0   NaN  NaN   19.741667         NaN
1   NaN  NaN   19.366667         NaN
2   NaN  NaN   22.125000         NaN
3   NaN  NaN   21.541667         NaN
4   NaN  NaN   20.750000         NaN
..  ...  ...         ...         ...
84  NaN  NaN  298.493333  243.808333
85  NaN  NaN  308.232250  253.233333
86  NaN  NaN  324.857333  265.646833
87  NaN  NaN  354.575667  265.720417
88  NaN  NaN  358.982500         NaN

[89 rows x 75 columns]

In [4]:
merged_df.to_csv('merged_data_by_year_raw.csv', index=False)